<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- JAVASCRIPT-->
  <script type="text/javascript" src="/js/playlist.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


  <title>Reproductor de Video</title>

  <!-- Bootstrap core CSS -->
  <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link type="text/css" href="/css/simple-sidebar.css" rel="stylesheet">


  

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <%- include('partials/navigation'); -%>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
           
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">Añadir Videos de Internet</h1>
          <div class="container-fluid">
              <label for="inputUrlVideo">Introduce la direccion del video</label>
              <input type="url" class="form-control" id="inputUrlVideo"  placeholder="https://www.youtube.com/watch?v=-GGG1ZVoFWs">
              <!--script>
                function download(){
                var url= document.getElementById('inputUrlVideo').value;
                console.log(url);
                }
                </script-->
              <button   class="btn-primary btn-lg" id="add_video" onclick='download()'>Añadir</button>
              

          </div>
          
       
      
      </div>

      
    <!-- /#page-content-wrapper -->

  
  <!-- /#wrapper -->

 

 
</body>

</html>